.topLink{
    color: white;
    text-decoration: none;
}

.pageAdd{
    background-color: #4BC0AD;
    width: 100%;
    height: 100%;
}

.searchBar{
    padding: 2% 0;
}


.cardResultSearch{
    background-color: #D7EDEA;
    font-size: 1.5rem;
}


.itemResult{
    background-color: #D7EDEA;
}


ion-item{
    --background: #4BC0AD;
    
}


ion-content{
    --background: #4BC0AD;
}

.selectTransport{
    margin-top: 2rem;
}
