

<ion-toolbar>
  <a slot="start" class="ion-padding topLink" routerLink="/stations">précédent</a>
  <ion-title>STATIONS</ion-title>
  <a slot="end" class="ion-padding topLink" routerLink="/stations">valider</a>
</ion-toolbar>


<ion-content fullscreen>

  <ion-item class="selectTransport">
    <ion-label>Type de Transport</ion-label>
    <ion-select placeholder="Selectionner" [(ngModel)]="selectedTransport">
      <ion-select-option value="metros">Métro</ion-select-option>
      <ion-select-option value="tramways">Tramway</ion-select-option>
      <ion-select-option value="rers">RER</ion-select-option>
    </ion-select>

  </ion-item>
  <ion-button color="primary" (click)="getLines(selectedTransport)" class="ion-padding">Voir les lignes</ion-button>
  
  <ion-item *ngIf="lines" class="selectTransport">
    <ion-label>Ligne</ion-label>
    <ion-select placeholder="Selectionner" [(ngModel)]="selectedLine">
      <ion-select-option value="{{ligne.code}}" *ngFor="let ligne of lines">{{ligne.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button color="primary" (click)="getLineStation(selectedTransport, selectedLine)" class="ion-padding" *ngIf="lines">Voir les stations</ion-button>


  <ion-item *ngIf="station" class="selectTransport">
    <ion-label>Station</ion-label>
    <ion-select placeholder="Selectionner" [(ngModel)]="selectedStation">
      <ion-select-option value="{{station.name}}" *ngFor="let station of station">{{station.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button color="danger" class="ion-padding" *ngIf="station" (click)="addToFav()">
    Ajouter cette stations aux favoris
  </ion-button>

</ion-content>
