
<div class="topBar">
  <ion-toolbar>
    <ion-title>INFOS TRAFIC</ion-title>
  </ion-toolbar>
</div>



<div class="infos">

  <div class="segmentTop">
    <ion-segment value="metro" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="metro">
        <ion-label>Métro</ion-label>
      </ion-segment-button>
      <ion-segment-button value="RER">
        <ion-label>RER</ion-label>
      </ion-segment-button>
      <ion-segment-button value="tramway">
        <ion-label>Tramway</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  
  <app-metro-component *ngIf="selectedSegment === 'metro'"></app-metro-component>

  <app-rer *ngIf="selectedSegment === 'RER'"></app-rer>


</div>


<ion-footer>
  <app-tabs></app-tabs>
</ion-footer>
