ion-toolbar {
        --background:#4BC0AD;
}

#back {
    color:white;
    float:right;
    text-decoration:none;
    padding-top: 10%;
}

#info{
    text-decoration: underline;
    float: left;
    padding-top: 10%;
    padding-left: 5px;;
}

ion-content{
    --background:#4BC0AD;
    --color:white;
}

h1,h2,h3,h4 {
    padding-left: 5px;
    padding-right: 5px;
}