#search{
    background-color: #4BC0AD !important;
}

#searchHeader{
    background-color: #4BC0AD !important;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 25px 10px;
}