
<ion-toolbar>
  <ion-title slot="start">STATIONS</ion-title>
  <a slot="end" class="ion-padding topLink" routerLink="/addstation">ajouter</a>
</ion-toolbar>



<ion-content fullscreen>
  <ion-item-sliding  *ngFor="let station of stationsFavorites; index as i">

    <!--REMOVE-->
    <ion-item-options side="start">
      <ion-item-option color="danger" expandable style="font-size: 1.7rem;" (click)="removeFavoritesStation(i)">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-item-option>
    </ion-item-options>

    <!--CARD-->
    <ion-item>
      <ion-card class="cardStation">
        <ion-card-header>


          <h1 style="float: left; color: black;">
            <ion-icon name="subway-outline"></ion-icon>
            {{station.station}}
          </h1>

          <h1 style="text-align: right;">{{station.transport}}: {{station.line}}</h1>
     
        </ion-card-header>
    
        <ion-card-content>
          <ion-grid>
            <ion-row>
    
              <ion-col>
                <ion-text color="danger">
                  2min
                </ion-text>
              </ion-col>
    
              <ion-col>
                {{station.transport}} {{station.line}}
              </ion-col>
    
              <ion-col>
                <ion-icon name="information-circle" style="font-size: 1.5rem;"></ion-icon>
              </ion-col>
    
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-item>

    <!--ADD TO BOOKMARK-->
    <ion-item-options>
      <ion-item-option color="warning" slot="end" expandable>
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>


</ion-content>
