.topLink{
    color: white;
    text-decoration: none;
}

.selectLine{
    color: black
}

.cardStation{
    width: 100%;

}

ion-item{
    --background: #4BC0AD;
    
}


ion-content{
    --background: #4BC0AD;
}
