<div id="hoverSearch">
    <div class="searchContent">
        <hr>
        <div id="bigButton">
            <div id="search">
                <ion-button color="light" expand="full" (click)="coucou(number)">
                    <ion-icon name="search" class="ion-margin-end"></ion-icon>
                    Où allons-nous ?
                </ion-button>
            </div>
            <div id="home">
                <ion-button color="light" expand="full">
                    <ion-icon name="bed" class="ion-margin-end"></ion-icon>
                    Rentrer à la maison
                </ion-button>
            </div>
            <div id="work">
                <ion-button color="light" expand="full">
                    <ion-icon name="briefcase" class="ion-margin-end"></ion-icon>
                    Aller au travail
                </ion-button>
            </div>
        </div>
        <div id="littleButton">
            <ion-button color="light" size="small" expand="block">
                <ion-icon name="star-outline" class="ion-margin-end"></ion-icon>
                Voir mes favoris
            </ion-button>
        </div>
    </div>
</div>
