<ion-toolbar>
  <ion-text id="info" slot="start">Ma navigo</ion-text>
  <a id="back" routerLink="/titres">Retour</a>
</ion-toolbar>

<ion-img src="/assets/img/Carte_ImagineR.png"></ion-img>

<ion-text id="expiration">Date d'expiration : 23/08/2020</ion-text>

<ion-button expand="block" size="large" id="ticket" routerLink="/titreperdu">J'ai perdu ma carte</ion-button>
<ion-button expand="block" size="large" id="ticket" routerLink="/titrerenouveler">Renouveler mon abonnement</ion-button>
<ion-button expand="block" size="large" id="ticket" routerLink="/titreresilier">Résilier mon abonnement</ion-button>

