
ion-col{
    text-align: center;
    margin: 1.5rem 0.7rem;

    color: coral;
    font-size: 1.4rem;

    padding-top: 4%;


    height: 75px;
    background-color: white;

    border-radius: 5px;
    border: 6px solid coral;

    
}