<ion-toolbar>
  <ion-text id="info" slot="start">TITRES</ion-text>
  <a id="back" routerLink="/titres">Retour</a>
</ion-toolbar>

<ion-img id="progress" src="/assets/img/Groupe_140.png"></ion-img>

<div id="chemin">
<ion-text>
  <h1>J'ai perdu ma carte</h1>
  <ion-button color="danger">Bloquer ma carte*</ion-button>
  <h3>*Il est fortement recommandé de la bloquer afin d'éviter tout usage malveillant</h3>
  <h1>Trouver une borne</h1>
  <h2>Afin de générer une nouvelle carte Navigo, vous devez récupérer un bon de remplacement sur l'une de nos bornes.</h2>
  <h1>point de contact</h1>
  <h2>Rendez-vous ensuite à un point de contact pour récupérer votre nouvelle carte.</h2>
</ion-text>
</div>